@keyframes pisca{
    0%{opacity: 0.2;}
    50%{opacity:1;}
    100%{opacity:0.2;}
}

body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.urna{
    background-color: #dbd5c9;
    justify-content: center;
    align-items: center;
    padding:30px;
    display:flex;
    margin-top: 10px;
}

.tela{
    width: 500px;
    height:320px;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1);
    border: 2px solid #555;
    display:flex;
    flex-direction: column;
}

.teclado{
    margin-left: 30px;
    background-color: #403A3A;
}

.teclado--linha{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.teclado--botao{
    width:70px;
    height:40px;
    background-color:black;
    color:white;
    font-size:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #555
}

.botao--branco{
    background-color:#fff;
    color:black;
    font-size:15px;
}

.botao--corrige{
    background-color:orangered;
    color:black;
    font-size:15px;
}

.botao--confirma{
    background-color:chartreuse;
    color:black;
    font-size:15px;
    width:90px;
    height:50px;
}

.d-1{
    flex: 1;
    display:flex;
}

.d-1-left{
    flex: 1;
    display:flex;
    flex-direction: column;
    padding-left:20px;
}

.d-1-1{
    height:50px;
    display:flex;
    align-items:center;
}

.d-1-2{
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.d-1-3{
    height:50px;
}

.numero{
    display:inline-block;
    width:30px;
    height:40px;
    border:1px solid black;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.pisca{
    animation-name:pisca;
    animation-duration:1s;
    animation-iteration-count: infinite;
}

.d-1-4{
    flex:1;
    line-height: 30px;
}

.d-1-right{
    width:90px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.d-1-image{
    border:1px solid black;
    background-color:white;
    text-align:center;
    font-size:14px;
}

.d-1-image img{
    width:100%;
}

.d-1-image.small{
    width:80%;
    font-size: 12px;
}

.d-2{
    height:50px;
    font-size:14px;
    border-top: 2px solid black;
    padding-left: 10px;
}

.aviso-grande{
    font-size: 40px;
    display:flex;
    justify-content: center;
    padding-top:20px;
    font-weight: bold;
}

.aviso-gg{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.canditadatos{
    background-color:#C1C1C1;
    border: 1px solid black;
    min-height:80px;
    min-width:200px;
    margin-top: 10px;
}

.nomesCola{
    padding: 10px 5px;
    border-bottom: 2px solid black;
}